clienteWS/src/wsdl/example.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ejb/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WebServiceExampleService" targetNamespace="http://ejb/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ejb/" elementFormDefault="unqualified" targetNamespace="http://ejb/" version="1.0">

  <xs:element name="listarPersonas" type="tns:listarPersonas"/>

  <xs:element name="listarPersonasResponse" type="tns:listarPersonasResponse"/>

  <xs:element name="sumar" type="tns:sumar"/>

  <xs:element name="sumarResponse" type="tns:sumarResponse"/>

  <xs:complexType name="sumar">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sumarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listarPersonas">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="listarPersonasResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:persona"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="fecha" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="idComuna" type="xs:int"/>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="listarPersonas">
    <wsdl:part element="tns:listarPersonas" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarPersonasResponse">
    <wsdl:part element="tns:listarPersonasResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sumarResponse">
    <wsdl:part element="tns:sumarResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sumar">
    <wsdl:part element="tns:sumar" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InterfaceWebServiceExample">
    <wsdl:operation name="sumar">
      <wsdl:input message="tns:sumar" name="sumar">
    </wsdl:input>
      <wsdl:output message="tns:sumarResponse" name="sumarResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarPersonas">
      <wsdl:input message="tns:listarPersonas" name="listarPersonas">
    </wsdl:input>
      <wsdl:output message="tns:listarPersonasResponse" name="listarPersonasResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceExampleServiceSoapBinding" type="tns:InterfaceWebServiceExample">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sumar">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sumar">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sumarResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarPersonas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listarPersonas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listarPersonasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceExampleService">
    <wsdl:port binding="tns:WebServiceExampleServiceSoapBinding" name="WebServiceExamplePort">
      <soap:address location="http://localhost:8080/WS_SOA/WebServiceExample"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>